{% extends 'navbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
{% block body %}
<div class="row">

    <div class="card mb-3 ms-5" style="width: 20rem;">
  <img src="{% static 'images/makeup8.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Blue Heaven Hyperstay Matte - Mystic Maroon-05</h5>
    <p class="card-text">MRP:₹455 5% Off inclusive of all taxes</p>
    <a href="{% url 'buynow' %}"class="btn btn-outline-dark">Add to Cart</a>
  </div>
    </div>



         <div class="card mb-3 ms-5" style="width: 20rem;">
  <img src="{% static 'images/makeup10.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Maybelline New York Lash Sensational Sky High Waterproof Mascara (6 ml)</h5>
    <p class="card-text">MRP:₹499 5% Off inclusive of all taxes</p>
    <a href="#" class="btn btn-outline-dark">Add to Cart</a>
  </div>
</div>

    <div class="card mb-3 ms-5" style="width: 20rem;">
  <img src="{% static 'images/makeup4.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">MARS Free Flow Liquid Eyeliner (6 ml)</h5>
    <p class="card-text">MRP:₹599 5% Off inclusive of all taxes</p>
    <a href="#" class="btn btn-outline-dark">Add to Cart</a>
  </div>
</div>
     <div class="card mb-3 ms-5" style="width: 20rem;">
  <img src="{% static 'images/makeup1.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">KAJA Cheeky Stamp | Blendable Liquid Blush | 02 Saucy</h5>
    <p class="card-text">MRP:₹495 5% Off inclusive of all taxes</p>
    <a href="#" class="btn btn-outline-dark">Add to Cart</a>
  </div>
</div>

</div>
<div class="row">

    <div class="card mb-3 ms-5" style="width: 20rem;">
  <img src="{% static 'images/makeup9.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">KAJA Gloss Shot I 04 Pink Drink Mini (3 ml) I Cruelty-free</h5>
    <p class="card-text">MRP:₹569 5% Off inclusive of all taxes</p>
    <a href="#" class="btn btn-outline-dark">Add to Cart</a>
  </div>
    </div>


         <div class="card mb-3 ms-5" style="width: 20rem;">
  <img src="{% static 'images/makeup5.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Blue Heaven 12-in-1 Bling Eyeshadow (22 g)</h5>
    <p class="card-text">MRP:₹1201 5% Off inclusive of all taxes</p>
    <a href="#" class="btn btn-outline-dark">Add to Cart</a>
  </div>
</div>

    <div class="card mb-3 ms-5" style="width: 20rem;">
  <img src="{% static 'images/makeup7.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Swiss Beauty Bold Matt Lip Liner -15 (1.6 gm) </h5>
    <p class="card-text">MRP:₹99 5% Off inclusive of all taxes</p>
    <a href="#" class="btn btn-outline-dark">Add to Cart</a>
  </div>
</div>
  <div class="card mb-3 ms-5" style="width: 20rem;">
  <img src="{% static 'images/makeup6.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Daily Life Forever52 Ultra Definition Liquid Foundation FLF014 (30ml)</h5>
    <p class="card-text">MRP:₹799 5% Off inclusive of all taxes</p>
    <a href="#" class="btn btn-outline-dark">Add to Cart</a>
  </div>
</div>

</div>

<div class="row">




    <div class="card mb-3 ms-5" style="width: 20rem;">
  <img src="{% static 'images/makeup3.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Lakme 9to5 Primer+Matte Liquid Concealer 10 Ivory, 5.4 ml</h5>
    <p class="card-text">MRP:₹689 5% Off inclusive of all taxes</p>
    <a href="#" class="btn btn-outline-dark">Add to Cart</a>
  </div>
</div>
     <div class="card mb-3 ms-5" style="width: 20rem;">
  <img src="{% static 'images/makeup2.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">MyGlamm POSE HD Bronzer Duo-Cinnamon I Teracotta- 9gm</h5>
    <p class="card-text">MRP:₹498 5% Off inclusive of all taxes</p>
    <a href="#" class="btn btn-outline-dark">Add to Cart</a>
  </div>
</div>

</div>

{% endblock %}
 </body>
</html>